<!DOCTYPE html>
<html>
<head>
	<title>
		UNIGAS
	</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<link rel="stylesheet" type="text/css" href="http://www.ryanlong.net/files/flexslider.css">
	
</head>
<body>
	<header class="header">
		<figure class="header-image">
			<a href="www.unigas.com.pe" class="image-link1"><img src="../static/images/unigas.png" alt="UNIGAS" class="image-link"></a>
		</figure>
			<span class="span-image">
				<a href="www.facebook.com" class="link-image" ><img alt="Encuentrame en FaceBook" class="image-fb" >
				</a>
				<a href="www.twitter.com" class="link-image" ><img alt="Sigueme en Twitter" class="image-twitter">
				</a>
			</span>
		<nav class="main">
			<ul class="main-list">
				<li class="main-item">
					<a class="main-link"href="#NUESTRA EMPRESA">NUESTRA EMRPESA</a>
				</li>
				<li class="main-item">
					<a class="main-link"href="#SERVICIOS Y PRODUCTOS"> SERVICIOS Y PRODUCTOS</a>
				</li>
				<li class="main-item">
					<a class="main-link"href="#UNIGAS CONTIGO">UNIGAS CONTIGO</a>
				</li>
			</ul>
		</nav>
	</header>
	
	<section>
		<div class="flexslider">
    		<ul class="slides">
        		<li>
            		<img src="../static/images/foto.png"class="slide-image" style="border-radius:20%"/>
            		
        		</li>
        		<li>
            		<img src="../static/images/foto2.png"class="slide-image" style="border-radius:20%"/>
            		
        		</li>
        		<li>
            		<img src="../static/images/foto3.png"class="slide-image" style="border-radius:20%"/>
            		
        		</li>
        		<li>
            		<img src="../static/images/foto4.png"class="slide-image" style="border-radius:20%"/>
            		
        		</li>
    		</ul>
		</div>
	</section>	

	<footer class="footer">
		<div class="footer-div">
			<p>Jr.Francisco Pizarro 860</p>
			<p>Morales</p>
			<p>San Martin, Morales</p>
			<p>Fijo: 522727</p>
			<p>RPM: *239153</p>
		</div>
	</footer>

	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<script type="text/javascript" src="http://www.ryanlong.net/files/jquery.flexslider.js"></script>
	<script type="text/javascript" >
		$(window).load(function () {
    $('.flexslider').flexslider({
        animation: "slide"
    });
});
	</script>
</body>
</html>